.DS_Store
build
.vscode
CMakeFiles

webbuild/CMakeFiles
webbuild/cmake_*
webbuild/CMakeCache.txt
webbuild/glypha_iii*
webbuild/Makefile

mobbuild/CMakeFiles
mobbuild/cmake_*
mobbuild/CMakeCache.txt
mobbuild/glypha_mobile*
mobbuild/Makefile
mobbuild/icon.png
mobbuild/index.html

gl4es

glypha-iii.zip
glypha-iii

.gradle
.idea
.kotlin
.cxx

android/app/src/main/cpp/resources
android/app/src/main/cpp/game
